*.obj

*.swp

*.*~

*.brd
*.res
*.ilk
*.pch
*.pdb
*.idb
*.ncb
*.opt
*.plg
*.exp
*.lib

Bin/Debug/CJ609Libd.dll
Bin/Debug/EasyBUtils.dll
Bin/Debug/EasyBWizards.dll
Bin/Debug/EasyBridge.exe

Bin/Release/CJ609Libd.dll
Bin/Release/EasyBridge.exe
Bin/Release/EasyBWizards.dll
Bin/Release/EasyBUtils.dll

.Bin
